@import "tailwindcss";
@import "@meet-point/ui/styles.css";

@source "../../../packages/ui/src";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  height: 100%;
}

body {
  background: var(--color-neutral-200);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
